snippet solve "boiler plate"
#include <bits/stdc++.h>

#define nfs()\
ios_base::sync_with_stdio(false);\
cin.tie(nullptr);

using namespace std;
using ll = long long;
using ull = long long;
using ld = long double;
constexpr ll MOD = 1e9 + 7;
constexpr ll INF = 1e18;

int main() {
    #ifndef LOCAL	
	    nfs();
    #endif

    $1
}

endsnippet

snippet cin "input"
cin >> $1
endsnippet

snippet cout "output"
cout << $1
endsnippet
